<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".home_page" %>
    <%= link_to t(".link_title_1"), Settings.link.home.link_1 %>
    <%= t ".sample_app" %>
  </h2>
  <%= link_to t(".link_title_2"), '#', class: "btn btn-lg btn-primary" %>
</div>
